/*
 * igitigit - Web frontend for Git repositories
 * Copyright (C) 2011  Klaus Reimer <k@ailis.de>
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or (at your
 * option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General
 * Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* =======================================================================
 * Global
 * ======================================================================= */

body
{
    color: #444;
    font-family: arial, sans-serif;
    background: #fff;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

table
{
    border-spacing: 0;
    border-collapse: separate;
    empty-cells: show;
}

td, th
{
    padding: 0;
    font-weight: normal;
    text-align: left;
}

tr.hide td,
tr.hide td *
{
    height: 0 !important;
    min-height: 0 !important;
    max-height: 0 !important;
    line-height: 0 !important;
    overflow: hidden !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

pre
{
    font-family: "courier new", monospace;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

a, a:visited
{
    color: #47b;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

a.gravatar
{
    display: inline-block;
    border: 1px solid #ddd;
    padding: 1px;
    background: #fff;
}

a img
{
    display: block;
    border: 0;
}

a.gravatar img
{
    width: 100%;
    height: 100%;
}



/* =======================================================================
 * Header
 * ======================================================================= */

#header
{
    background: #eee;
    border-bottom: solid 1px #ddd;
    padding: 4px 0;
}

#header .content
{
     width: 976px;
     margin: 0 auto;
     position: relative;
}

#header h1
{
    padding: 0 0;
    margin: 0;
    width: 128px;
    height: 44px;
}

#header h1 a
{
    display: block;
    padding: 44px 0 0 0;
    overflow: hidden;
    width: 128px;
    height: 0;
    background: url(../images/logo.png) no-repeat;
}


/* =======================================================================
 * Content
 * ======================================================================= */

#content
{
    margin: 0 auto;
    width: 976px;
    padding: 16px 0;
}


/* =======================================================================
 * Footer
 * ======================================================================= */

#footer
{
    position: relative;
    margin: 0;
    padding: 8px 0;
    border-top: solid 1px #ddd; 
    border-bottom: solid 1px #ddd; 
    background: #eee;
}

#footer .content
{
    width: 976px;
    margin: 0 auto;
    position: relative;
}

#footer .powered-by
{
    position: absolute;
    right: 0;
    top: 0;
}

/* =======================================================================
 * Error page
 * ======================================================================= */

div.error p
{
    color: #c00;
    font-weight: bold;
}

div.error dl
{    
    background: #fcc;
    border: solid 1px #ddd;
    padding: 6px;
    overflow: auto;
}

div.error dt
{
    font-weight: bold;
    margin: 0 0 0.25em 0;
}

div.error dd
{
    margin: 0 0 1em 0;
}

div.error dd.message
{
    white-space: pre;
}

div.error dd.stackTrace
{
    white-space: pre;
}


/* =======================================================================
 * Hacks
 * ======================================================================= */

/* This div is needed to de-couple the message text from the table cell so
   we can absolutely position the message (Doesn't work in Firefox
   otherwise) */
td div.decouple
{
    position: relative;
    height: 16px;
}

/* Absolutely position the message text. Width is set to the width of the
   table cell. Absolute positioning is needed because otherwise the table
   will resize beyond the set size if the message text is too long. So
   by decoupling the message from the table cell we fix this problem. */
td div.decouple div
{    
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* =======================================================================
 * Common components
 * ======================================================================= */

/* The breadcrumb is displayed with the styles of a headline. */
.breadcrumb
{
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
}

/* The style of a commit hash. */
.hash
{
    font-family: "courier new", monospace;
}

/* A file mode string. */
.filemode
{
    font-family: "courier new", monospace;
}


/* =======================================================================
 * Text file rendering
 * ======================================================================= */

td.text-file
{
    width: 100%;
}

pre.text-file
{
    line-height: 20px;
}

pre.text-file span.line
{
    display: block;
    padding: 0 4px;
}


/* =======================================================================
 * Line numbers
 * ======================================================================= */

td.line-numbers
{
    background: #eee;
    padding: 0 3px 0 5px;
    border-right: solid 1px #ddd;
    text-align: right;
    color: #888;
    line-height: 20px;
    font-family: "courier new", monospace;
}

table.line-numbers
{
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
}

/* =======================================================================
 * Box
 * ======================================================================= */

div.box,
table.box
{    
    margin: 16px 0;
    border: solid 1px #ddd;
    position: relative;
    width: 100%;
}

div.box div.header,
table.box th
{
    border-bottom: solid 1px #ddd;
    background: #eee;
    padding: 8px;
    color: #888;
}

div.box div.header ul.info li
{
    display: inline;
}

div.box div.header ul.info li:after
{
    content: "";
    border-right: solid 1px #fff;
    border-left: solid 1px #ddd;
    margin-left: 8px;
    margin-right: 4px;
}

div.box div.header ul.info li:last-child:after
{
    border: none;
    margin: 0;
}

div.box div.header ul.actions
{
    float: right;
}

table.box th.actions
{
    text-align: right;
}

div.box div.header ul.actions li
{
    display: inline;
    white-space: nowrap;
}

div.box div.header ul.actions li:after
{
    content: "";
    border-right: solid 1px #fff;
    border-left: solid 1px #ddd;
    margin-left: 8px;
    margin-right: 4px;
}

div.box div.header ul.actions li:last-child:after
{
    border: 0;
    margin: 0;
}

div.box div.body
{
    position: relative;
    overflow: auto;
    background: #f8f8f8;
}

table.box td
{
    background: #f8f8f8;
    border-bottom: solid 1px #ddd;
    padding: 4px 8px;
    height: 20px;
}

table.box tr:last-child td
{
    border-bottom: none;
}

table.box tr:nth-child(odd) td
{
    background-color: #fff;
}


/* =======================================================================
 * Commit header
 * ======================================================================= */

div.commitheader
{
    position: relative;
    border: solid 1px #ddd;
    background: #eee;
    padding: 8px;
    margin-bottom: 1em;
}

div.commitheader div.subject
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.commitheader .gravatar
{
    width: 30px;
    height: 30px;
    margin-right: 8px;
    float: left;
}

div.commitheader .contacts
{
    height: 34px;
    margin-top: 8px;
}

div.commitheader div.contact-data
{
    position: relative;
    height: 34px;
    white-space: nowrap;
    float: left;
    margin-right: 20px;
    color: #888;
}

div.commitheader span.time
{
    white-space: nowrap;
    color: #444;
}

div.commitheader table.hashes
{
    float: right;
    margin-left: 16px;
}

div.commitheader table.hashes th
{
    padding-right: 8px;
    color: #888;
    height: 20px;
}

div.commitheader table.hashes td
{
    font-family: "courier new", monospace;
}


/* =======================================================================
 * Tree
 * ======================================================================= */

/* Prepares the type cell for a type image. */
#tree td.type
{
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 16px;
    min-width: 24px;
    padding: 0;
}

/* Repositories and repo directories use the repo type image. */
#tree tr.type-repo td.type,
#tree tr.type-repo-dir td.type
{
    background-image: url(../icons/16x16/type-repo.png);
}

/* System directories use the directory type image. */
#tree tr.type-system-dir td.type
{
    background-image: url(../icons/16x16/type-dir.png);
}

/* System files and repo files use the file type image. */
#tree tr.type-system-file td.type,
#tree tr.type-repo-file td.type
{
    background-image: url(../icons/16x16/type-file.png);
}

/* Hide the type text (Because we display an image instead). */
#tree td.type span,
#tree th.type span
{
    display: none;
}

/* Lesser space between type image and filename. */
#tree th.name
{
    padding-left: 4px;
}

/* Lesser space between type image and filename. Also set a maximum width
   for the filename cell. Filename must not wrap. */
#tree td.name
{
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 4px;
}

/* time must not wrap. */
#tree td.time
{
    white-space: nowrap;
}

/* Contact must not wrap and uses less space between avatar image and
   contact. */
#tree td.contact
{
    white-space: nowrap;
    padding-left: 4px;
}

/* Lesser space between avatar and contact. */
#tree td.avatar
{
    padding-right: 0;
}

/* Set size of avatar. */
#tree td.avatar .gravatar
{
    width: 16px;
    height: 16px;
}

/* All remaining space goes to the message column. */
#tree td.message
{
    width: 100%;
}


/* =======================================================================
 * Commit history
 * ======================================================================= */

/* Don't wrap the time and author */
#commits td.time,
#commits td.author
{
    white-space: nowrap;
}

/* Set avatar size. */
#commits .gravatar
{
    width: 16px;
    height: 16px;
}

/* Remaining width goes to the message column. */
#commits td.message
{
    width: 100%;
}


/* =======================================================================
   Blame
   ======================================================================= */

#blame td
{
    vertical-align: top
}

/* The text file view commit group. It uses a bottom border line as
   visualization and has a minimum height of 40 pixels (2 lines) because the
   commit info on the left needs this space. */
pre.text-file span.commit
{
    display: block;
    border-bottom: solid 1px #ddd;
    min-height: 40px;
}

/* Padding is moved from table cell to commit group div. */
#blame td.line-numbers
{
    padding: 0;
}

/* The line-numbers commit group div. The padding from the table cell is
   moved to this element.  A bottom line is drawn to visualize the group. 
   The minimum width of this div is set to the height of two lines because
   the commit info left of the line numbers need two lines. */
#blame td.line-numbers div.commit
{
    padding: 0 4px;
    min-height: 40px;
    border-bottom: solid 1px #ddd;
}

/* The blame info table cell. It has a fixed width and a border line on the
   right. Line-height is set to the same line-height as the line-numbers and
   the text file view. */
#blame td.blame-info
{
    width: 304px;
    min-width: 304px;
    padding: 0;
    border-right: solid 1px #ddd;
    line-height: 20px;
}

/* The blame info commit group div. It has a fixed width and horizontal
   padding of 4 pixels. A bottom line is used to visualize the commit group.
   It uses a font-size of 20px so the HTML page can use the "em" unit to
   specify the height of the commit group div. */
#blame td.blame-info div.commit
{
    border-bottom: solid 1px #ddd;
    font-size: 20px;
    line-height: 20px;
    min-height: 40px;
    width: 296px;
    padding: 0 4px;
    overflow: hidden;
}

/* A single line in the blame info. Resets the font-size to standard and
   sets a fixed height of 20px to match the line height of the text file
   view. */
#blame td.blame-info div.commit div
{
    font-size: 13px;
    height: 20px;
}

/* The first line of the blame info contains the commit data. This line
   must not wrap and if it doesn't fit into the line (Long author name)
   then it is shortened. */
#blame div.commitData
{
    white-space: nowrap;
    overflow2: hidden;
    text-overflow: ellipsis;
}

/* Adds some margin the commit time */
#blame div.commitData .time
{
    margin-left: 8px;
    margin-right: 8px;
}

#blame div.commitData .gravatar
{
    position: relative;
    top: 3px;
    width: 12px;
    height: 12px;
}

#blame div.commitData .blameLink
{
    font-size: 12px;
    position: relative;
    top: -1px;
    text-decoration: none;
}

/* Remove the bottom line from last commit groups */
#blame .commit:last-child
{
    border-bottom: none !important;
}


/* =======================================================================
   Commit
   ======================================================================= */

#commit .file-list
{
    width: 100%;
}

#commit .file-list td
{
    border-top: solid 1px #ddd;
    padding: 5px 0;
}

#commit .file-list .filename
{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#commit .changemeter
{
    position: relative;
    width: 50px;
    height: 10px;
    border: solid 1px #ddd;
}

#commit .changemeter .additions
{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #0c0;
}

#commit .changemeter .deletions
{
    position: absolute;
    height: 100%;
    top: 0;
    background: #a00;
}

#commit .file-list .modifications
{
    position: relative;
    padding-right: 60px;
    text-align: right;
    font-weight: bold;
    font-size: 11px;
    color: #666;
}

#commit .file-list .modifications .changemeter
{
    position: absolute;
    right: 0;
    top: 7px;
}

#commit .type span
{
    display: none;
}

#commit .type
{
    background-position: center center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    min-width: 16px;
}

#commit .type-m
{
   background-image: url(../icons/16x16/edit.png);
}

#commit .type-d
{
   background-image: url(../icons/16x16/remove.png);
}

#commit .type-a
{
   background-image: url(../icons/16x16/add.png);
}

#commit .chunk
{
    color: #ccc;
}

#commit .add
{
    background: #cfc;
}

#commit .delete
{
    background: #fcc;
}

#commit .binary-diff
{
    padding: 4px 8px;
}


/* =======================================================================
   Revision selection box
   ======================================================================= */

#revision
{
    border: solid 1px #ddd;
    background: #f8f8f8;
    padding: 4px 8px;
    position: absolute;
    right: 0;
    top: 10px;
    color: #888;
}

#revision .currentRevision
{
    margin-left: 8px;
    color: #47b;
    cursor: pointer;
}

#revision .currentRevision:hover
{
    text-decoration: underline;
}

#revision .revisions
{
    display: none;
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 1000;
    background: #f8f8f8;
    border: 1px solid #ddd;
    width: 160px;
    max-height: 256px;
    overflow: auto;
    padding: 4px 8px;
}

#revision:active .revisions,
#revision .revisions:hover
{
    display: block;
}

#revision .revisions h1
{
    font-size: 13px;
    padding: 0;
    margin: 0 0 4px 0;
    height: auto;
}

#revision .revisions ul
{
    margin: 0 0 8px 0;
}

#revision .revisions li
{
    margin-left: 8px;
}


/* =======================================================================
   Image body styles
   ======================================================================= */

.image-body
{
    background: url("../images/checkerboard.png");
    display: inline-block;
    margin: 2px;
    border: solid 1px #ccc;
}

.image-body img
{
    display: block;
}

/* =======================================================================
   Markdown body styles
   ======================================================================= */

.markdown-body
{
    padding: 10px;
}

.markdown-body h1
{
    font-size: 25px;
    margin: 1em 0 0.5em 0;
}

.markdown-body h2
{
    font-size: 23px;
    margin: 1em 0 0.5em 0;
    border-bottom: solid 1px #ccc;
}

.markdown-body p
{
    font-size: 13px;
    line-height: 1.5em;
    margin: 0 0 1em 0;
}

.markdown-body ul
{
    list-style: disc;
    margin-left: 30px;
}

.markdown-body li
{
    font-size: 13px;
    margin-bottom: 0.5em;
}

.markdown-body *:first-child
{
    margin-top: 0;
}
